
body{
	font: 14px "Trebuchet MS", Arial, Helvetica, sans-serif;
	margin-top: 20px;
}
.navbar-brand{
	font-size: 26px;
	text-transform: uppercase;
	margin: 5px;
}
.nav{
	margin-top: 5px;
	font-size: 18px;
}
.navbar-brand img{
	height: 65px;
	margin-top:-22px;
	padding: 5px;
}



.container .panel{
	margin-top:50px;
	padding: 10px;
}

b{
	font-size: 18px;
}

h1{
	font-size: 40px;
	color:#337ab7;
	text-align: center;

	padding: 20px;
	border-radius: 4px;
}
.alert{
	margin-right: 0px;
}
.formulario{
	margin-left: 0px;
	padding: 30px;
	margin-top: -80px;
}

.botao{
	text-align: center;
}

.footer{
	height: 200px;
	background-color:#222222;
	color:#fff;
	border-radius: 5px;
}
.footer h3{
	font-size: 16px;
	text-align: center;
	margin-top: 150px;
}